
        .pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 200px;
        }
        .page-circles {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
        .page-circle {
            margin: 5px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #f0f0f0;
            cursor: pointer;
        }
        .page-circle.active {
            background-color: #4ee683;
            color: #fff;
        }
        .pagination button {
            margin: 5px;
            padding: 10px 15px;
            border: none;
            background-color: #f0f0f0;
            cursor: pointer;
            outline: none;
        }
        .pagination button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
   